[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/justin/Apps/P3X-OneNote-2020.10.123.AppImage
Name=OneNote
Icon=/home/justin/Apps/onenoteicon.png
